<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AssetManagerClient.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AssetManagerClient.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <AssetManagerClient.Properties.Settings>
            <setting name="AssetManagerClient_WebService_AssetManagerService"
                serializeAs="String">
                <value>http://thietkewebnet.com/assetmanager/AssetManagerService.asmx</value>
            </setting>
            <setting name="UsernameFtp" serializeAs="String">
                <value>chsboqgl</value>
            </setting>
            <setting name="PasswordFtp" serializeAs="String">
                <value>yH869kwDu2</value>
            </setting>
            <setting name="hostIP" serializeAs="String">
                <value>123.30.187.4</value>
            </setting>
        </AssetManagerClient.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <AssetManagerClient.Properties.Settings>
            <setting name="imageUrl" serializeAs="String">
                <value>/httpdocs/AssetManage/Image</value>
            </setting>
            <setting name="attach" serializeAs="String">
                <value>/httpdocs/AssetManage/Attach</value>
            </setting>
            <setting name="LinkUrl" serializeAs="String">
                <value>http://thietkewebnet.com/assetmanage/</value>
            </setting>
        </AssetManagerClient.Properties.Settings>
    </userSettings>
</configuration>