<?xml version="1.0" encoding="utf-8"?>
<NetTiersMap xmlns="http://www.nettiers.com/NetTiersMap.xsd">
	<Table Id="Asset" EntityName="Asset" Owner="dbo" PropertyName="Asset" FieldName="_asset" FriendlyName="Asset" IncludeInOutput="true">
		<Column Id="Id" CSType="System.String" PropertyName="Id" FieldName="_id" FriendlyName="Id" IncludeInOutput="true" />
		<Column Id="Name" CSType="System.String" PropertyName="Name" FieldName="_name" FriendlyName="Name" IncludeInOutput="true" />
		<Column Id="AssetGroupId" CSType="System.String" PropertyName="AssetGroupId" FieldName="_assetGroupId" FriendlyName="Asset Group Id" IncludeInOutput="true" />
		<Column Id="UnitId" CSType="System.String" PropertyName="UnitId" FieldName="_unitId" FriendlyName="Unit Id" IncludeInOutput="true" />
		<Column Id="Amount" CSType="System.Int32" PropertyName="Amount" FieldName="_amount" FriendlyName="Amount" IncludeInOutput="true" />
		<Column Id="CounPro" CSType="System.String" PropertyName="CounPro" FieldName="_counPro" FriendlyName="Coun Pro" IncludeInOutput="true" />
		<Column Id="YearPro" CSType="System.Int32" PropertyName="YearPro" FieldName="_yearPro" FriendlyName="Year Pro" IncludeInOutput="true" />
		<Column Id="DepartmentUsedId" CSType="System.String" PropertyName="DepartmentUsedId" FieldName="_departmentUsedId" FriendlyName="Department Used Id" IncludeInOutput="true" />
		<Column Id="TotalPrice" CSType="System.Int64" PropertyName="TotalPrice" FieldName="_totalPrice" FriendlyName="Total Price" IncludeInOutput="true" />
		<Column Id="BudgetPrice" CSType="System.Int64" PropertyName="BudgetPrice" FieldName="_budgetPrice" FriendlyName="Budget Price" IncludeInOutput="true" />
		<Column Id="OwnPrice" CSType="System.Int64" PropertyName="OwnPrice" FieldName="_ownPrice" FriendlyName="Own Price" IncludeInOutput="true" />
		<Column Id="VenturePrice" CSType="System.Int64" PropertyName="VenturePrice" FieldName="_venturePrice" FriendlyName="Venture Price" IncludeInOutput="true" />
		<Column Id="AnotherPrice" CSType="System.Int64" PropertyName="AnotherPrice" FieldName="_anotherPrice" FriendlyName="Another Price" IncludeInOutput="true" />
		<Column Id="TotalDepreciation" CSType="System.Int64" PropertyName="TotalDepreciation" FieldName="_totalDepreciation" FriendlyName="Total Depreciation" IncludeInOutput="true" />
		<Column Id="BudgetDepreciation" CSType="System.Int64" PropertyName="BudgetDepreciation" FieldName="_budgetDepreciation" FriendlyName="Budget Depreciation" IncludeInOutput="true" />
		<Column Id="OwnDepreciation" CSType="System.Int64" PropertyName="OwnDepreciation" FieldName="_ownDepreciation" FriendlyName="Own Depreciation" IncludeInOutput="true" />
		<Column Id="VentureDepreciation" CSType="System.Int64" PropertyName="VentureDepreciation" FieldName="_ventureDepreciation" FriendlyName="Venture Depreciation" IncludeInOutput="true" />
		<Column Id="AnotherDepreciation" CSType="System.Int64" PropertyName="AnotherDepreciation" FieldName="_anotherDepreciation" FriendlyName="Another Depreciation" IncludeInOutput="true" />
		<Column Id="BudgetRemain" CSType="System.Int64" PropertyName="BudgetRemain" FieldName="_budgetRemain" FriendlyName="Budget Remain" IncludeInOutput="true" />
		<Column Id="OwnRemain" CSType="System.Int64" PropertyName="OwnRemain" FieldName="_ownRemain" FriendlyName="Own Remain" IncludeInOutput="true" />
		<Column Id="VentureRemain" CSType="System.Int64" PropertyName="VentureRemain" FieldName="_ventureRemain" FriendlyName="Venture Remain" IncludeInOutput="true" />
		<Column Id="AnotherRemain" CSType="System.Int64" PropertyName="AnotherRemain" FieldName="_anotherRemain" FriendlyName="Another Remain" IncludeInOutput="true" />
		<Column Id="TotalReamain" CSType="System.Int64" PropertyName="TotalReamain" FieldName="_totalReamain" FriendlyName="Total Reamain" IncludeInOutput="true" />
		<Column Id="UpDownCode" CSType="System.String" PropertyName="UpDownCode" FieldName="_upDownCode" FriendlyName="Up Down Code" IncludeInOutput="true" />
		<Column Id="InputDateTime" CSType="System.DateTime" PropertyName="InputDateTime" FieldName="_inputDateTime" FriendlyName="Input Date Time" IncludeInOutput="true" />
		<ChildCollection Id="WarrantyAssetCollection" PropertyName="WarrantyAssetCollection" FieldName="_warrantyAssetAsssetId" FriendlyName="WarrantyAssetCollection" CSType="TList&lt;WarrantyAsset&gt;" RelationshipType="OneToMany" ForeignKeyName="FK__WarrantyA__Assse__4222D4EF" IncludeInOutput="true"/>
		<ChildCollection Id="AssetLiquidationCollection" PropertyName="AssetLiquidationCollection" FieldName="_assetLiquidationAssetId" FriendlyName="AssetLiquidationCollection" CSType="TList&lt;AssetLiquidation&gt;" RelationshipType="OneToMany" ForeignKeyName="FK__AssetLiqu__Asset__31EC6D26" IncludeInOutput="true"/>
		<ChildCollection Id="RepairAssetCollection" PropertyName="RepairAssetCollection" FieldName="_repairAssetAssetId" FriendlyName="RepairAssetCollection" CSType="TList&lt;RepairAsset&gt;" RelationshipType="OneToMany" ForeignKeyName="FK__RepairAss__Asset__398D8EEE" IncludeInOutput="true"/>
	</Table>
	<Table Id="AssetGroup" EntityName="AssetGroup" Owner="dbo" PropertyName="AssetGroup" FieldName="_assetGroup" FriendlyName="Asset Group" IncludeInOutput="true">
		<Column Id="Id" CSType="System.String" PropertyName="Id" FieldName="_id" FriendlyName="Id" IncludeInOutput="true" />
		<Column Id="Name" CSType="System.String" PropertyName="Name" FieldName="_name" FriendlyName="Name" IncludeInOutput="true" />
		<Column Id="AssetGroupTypeId" CSType="System.String" PropertyName="AssetGroupTypeId" FieldName="_assetGroupTypeId" FriendlyName="Asset Group Type Id" IncludeInOutput="true" />
		<ChildCollection Id="AssetCollection" PropertyName="AssetCollection" FieldName="_assetAssetGroupId" FriendlyName="AssetCollection" CSType="TList&lt;Asset&gt;" RelationshipType="OneToMany" ForeignKeyName="FK__Asset__AssetGrou__15502E78" IncludeInOutput="true"/>
	</Table>
	<Table Id="AssetGroupType" EntityName="AssetGroupType" Owner="dbo" PropertyName="AssetGroupType" FieldName="_assetGroupType" FriendlyName="Asset Group Type" IncludeInOutput="true">
		<Column Id="Id" CSType="System.String" PropertyName="Id" FieldName="_id" FriendlyName="Id" IncludeInOutput="true" />
		<Column Id="Name" CSType="System.String" PropertyName="Name" FieldName="_name" FriendlyName="Name" IncludeInOutput="true" />
		<ChildCollection Id="AssetGroupCollection" PropertyName="AssetGroupCollection" FieldName="_assetGroupAssetGroupTypeId" FriendlyName="AssetGroupCollection" CSType="TList&lt;AssetGroup&gt;" RelationshipType="OneToMany" ForeignKeyName="FK__AssetGrou__Asset__0519C6AF" IncludeInOutput="true"/>
	</Table>
	<Table Id="AssetLiquidation" EntityName="AssetLiquidation" Owner="dbo" PropertyName="AssetLiquidation" FieldName="_assetLiquidation" FriendlyName="Asset Liquidation" IncludeInOutput="true">
		<Column Id="Id" CSType="System.String" PropertyName="Id" FieldName="_id" FriendlyName="Id" IncludeInOutput="true" />
		<Column Id="AssetId" CSType="System.String" PropertyName="AssetId" FieldName="_assetId" FriendlyName="Asset Id" IncludeInOutput="true" />
		<Column Id="Amount" CSType="System.Int32" PropertyName="Amount" FieldName="_amount" FriendlyName="Amount" IncludeInOutput="true" />
		<Column Id="DepartmentUsedId" CSType="System.String" PropertyName="DepartmentUsedId" FieldName="_departmentUsedId" FriendlyName="Department Used Id" IncludeInOutput="true" />
		<Column Id="LiDateTime" CSType="System.DateTime" PropertyName="LiDateTime" FieldName="_liDateTime" FriendlyName="Li Date Time" IncludeInOutput="true" />
		<Column Id="LiPrice" CSType="System.Int64" PropertyName="LiPrice" FieldName="_liPrice" FriendlyName="Li Price" IncludeInOutput="true" />
	</Table>
	<Table Id="Capital" EntityName="Capital" Owner="dbo" PropertyName="Capital" FieldName="_capital" FriendlyName="Capital" IncludeInOutput="true">
		<Column Id="Id" CSType="System.String" PropertyName="Id" FieldName="_id" FriendlyName="Id" IncludeInOutput="true" />
		<Column Id="Name" CSType="System.String" PropertyName="Name" FieldName="_name" FriendlyName="Name" IncludeInOutput="true" />
		<Column Id="Note" CSType="System.String" PropertyName="Note" FieldName="_note" FriendlyName="Note" IncludeInOutput="true" />
	</Table>
	<Table Id="DepartmentUsed" EntityName="DepartmentUsed" Owner="dbo" PropertyName="DepartmentUsed" FieldName="_departmentUsed" FriendlyName="Department Used" IncludeInOutput="true">
		<Column Id="Id" CSType="System.String" PropertyName="Id" FieldName="_id" FriendlyName="Id" IncludeInOutput="true" />
		<Column Id="Name" CSType="System.String" PropertyName="Name" FieldName="_name" FriendlyName="Name" IncludeInOutput="true" />
		<Column Id="Phone" CSType="System.String" PropertyName="Phone" FieldName="_phone" FriendlyName="Phone" IncludeInOutput="true" />
		<Column Id="Representative" CSType="System.String" PropertyName="Representative" FieldName="_representative" FriendlyName="Representative" IncludeInOutput="true" />
		<Column Id="Address" CSType="System.String" PropertyName="Address" FieldName="_address" FriendlyName="Address" IncludeInOutput="true" />
		<ChildCollection Id="AssetCollection" PropertyName="AssetCollection" FieldName="_assetDepartmentUsedId" FriendlyName="AssetCollection" CSType="TList&lt;Asset&gt;" RelationshipType="OneToMany" ForeignKeyName="FK__Asset__Departmen__173876EA" IncludeInOutput="true"/>
		<ChildCollection Id="WarrantyAssetCollection" PropertyName="WarrantyAssetCollection" FieldName="_warrantyAssetDepartmentUsedId" FriendlyName="WarrantyAssetCollection" CSType="TList&lt;WarrantyAsset&gt;" RelationshipType="OneToMany" ForeignKeyName="FK__WarrantyA__Depar__4316F928" IncludeInOutput="true"/>
		<ChildCollection Id="AssetLiquidationCollection" PropertyName="AssetLiquidationCollection" FieldName="_assetLiquidationDepartmentUsedId" FriendlyName="AssetLiquidationCollection" CSType="TList&lt;AssetLiquidation&gt;" RelationshipType="OneToMany" ForeignKeyName="FK__AssetLiqu__Depar__32E0915F" IncludeInOutput="true"/>
		<ChildCollection Id="RepairAssetCollection" PropertyName="RepairAssetCollection" FieldName="_repairAssetDepartmentUsedId" FriendlyName="RepairAssetCollection" CSType="TList&lt;RepairAsset&gt;" RelationshipType="OneToMany" ForeignKeyName="FK__RepairAss__Depar__3A81B327" IncludeInOutput="true"/>
	</Table>
	<Table Id="Partner" EntityName="Partner" Owner="dbo" PropertyName="Partner" FieldName="_partner" FriendlyName="Partner" IncludeInOutput="true">
		<Column Id="Id" CSType="System.String" PropertyName="Id" FieldName="_id" FriendlyName="Id" IncludeInOutput="true" />
		<Column Id="Name" CSType="System.String" PropertyName="Name" FieldName="_name" FriendlyName="Name" IncludeInOutput="true" />
		<Column Id="Address" CSType="System.String" PropertyName="Address" FieldName="_address" FriendlyName="Address" IncludeInOutput="true" />
		<Column Id="Phone" CSType="System.String" PropertyName="Phone" FieldName="_phone" FriendlyName="Phone" IncludeInOutput="true" />
		<Column Id="TaxCode" CSType="System.String" PropertyName="TaxCode" FieldName="_taxCode" FriendlyName="Tax Code" IncludeInOutput="true" />
		<ChildCollection Id="WarrantyAssetCollection" PropertyName="WarrantyAssetCollection" FieldName="_warrantyAssetPartnerId" FriendlyName="WarrantyAssetCollection" CSType="TList&lt;WarrantyAsset&gt;" RelationshipType="OneToMany" ForeignKeyName="FK__WarrantyA__Partn__440B1D61" IncludeInOutput="true"/>
		<ChildCollection Id="RepairAssetCollection" PropertyName="RepairAssetCollection" FieldName="_repairAssetPartnerId" FriendlyName="RepairAssetCollection" CSType="TList&lt;RepairAsset&gt;" RelationshipType="OneToMany" ForeignKeyName="FK__RepairAss__Partn__3B75D760" IncludeInOutput="true"/>
	</Table>
	<Table Id="RepairAsset" EntityName="RepairAsset" Owner="dbo" PropertyName="RepairAsset" FieldName="_repairAsset" FriendlyName="Repair Asset" IncludeInOutput="true">
		<Column Id="Id" CSType="System.String" PropertyName="Id" FieldName="_id" FriendlyName="Id" IncludeInOutput="true" />
		<Column Id="AssetId" CSType="System.String" PropertyName="AssetId" FieldName="_assetId" FriendlyName="Asset Id" IncludeInOutput="true" />
		<Column Id="DepartmentUsedId" CSType="System.String" PropertyName="DepartmentUsedId" FieldName="_departmentUsedId" FriendlyName="Department Used Id" IncludeInOutput="true" />
		<Column Id="Reason" CSType="System.String" PropertyName="Reason" FieldName="_reason" FriendlyName="Reason" IncludeInOutput="true" />
		<Column Id="PartnerId" CSType="System.String" PropertyName="PartnerId" FieldName="_partnerId" FriendlyName="Partner Id" IncludeInOutput="true" />
		<Column Id="RepairDate" CSType="System.DateTime" PropertyName="RepairDate" FieldName="_repairDate" FriendlyName="Repair Date" IncludeInOutput="true" />
		<Column Id="Fee" CSType="System.Int64" PropertyName="Fee" FieldName="_fee" FriendlyName="Fee" IncludeInOutput="true" />
		<Column Id="Address" CSType="System.String" PropertyName="Address" FieldName="_address" FriendlyName="Address" IncludeInOutput="true" />
	</Table>
	<Table Id="Unit" EntityName="Unit" Owner="dbo" PropertyName="Unit" FieldName="_unit" FriendlyName="Unit" IncludeInOutput="true">
		<Column Id="Id" CSType="System.String" PropertyName="Id" FieldName="_id" FriendlyName="Id" IncludeInOutput="true" />
		<Column Id="Name" CSType="System.String" PropertyName="Name" FieldName="_name" FriendlyName="Name" IncludeInOutput="true" />
		<Column Id="Note" CSType="System.String" PropertyName="Note" FieldName="_note" FriendlyName="Note" IncludeInOutput="true" />
		<ChildCollection Id="AssetCollection" PropertyName="AssetCollection" FieldName="_assetUnitId" FriendlyName="AssetCollection" CSType="TList&lt;Asset&gt;" RelationshipType="OneToMany" ForeignKeyName="FK__Asset__UnitId__164452B1" IncludeInOutput="true"/>
	</Table>
	<Table Id="UpDownReason" EntityName="UpDownReason" Owner="dbo" PropertyName="UpDownReason" FieldName="_upDownReason" FriendlyName="Up Down Reason" IncludeInOutput="true">
		<Column Id="Id" CSType="System.String" PropertyName="Id" FieldName="_id" FriendlyName="Id" IncludeInOutput="true" />
		<Column Id="Name" CSType="System.String" PropertyName="Name" FieldName="_name" FriendlyName="Name" IncludeInOutput="true" />
		<Column Id="Type" CSType="System.String" PropertyName="Type" FieldName="_type" FriendlyName="Type" IncludeInOutput="true" />
	</Table>
	<Table Id="WarrantyAsset" EntityName="WarrantyAsset" Owner="dbo" PropertyName="WarrantyAsset" FieldName="_warrantyAsset" FriendlyName="Warranty Asset" IncludeInOutput="true">
		<Column Id="Id" CSType="System.String" PropertyName="Id" FieldName="_id" FriendlyName="Id" IncludeInOutput="true" />
		<Column Id="AsssetId" CSType="System.String" PropertyName="AsssetId" FieldName="_asssetId" FriendlyName="Assset Id" IncludeInOutput="true" />
		<Column Id="DepartmentUsedId" CSType="System.String" PropertyName="DepartmentUsedId" FieldName="_departmentUsedId" FriendlyName="Department Used Id" IncludeInOutput="true" />
		<Column Id="PartnerId" CSType="System.String" PropertyName="PartnerId" FieldName="_partnerId" FriendlyName="Partner Id" IncludeInOutput="true" />
		<Column Id="WarDateTime" CSType="System.DateTime" PropertyName="WarDateTime" FieldName="_warDateTime" FriendlyName="War Date Time" IncludeInOutput="true" />
		<Column Id="DeadlineWar" CSType="System.DateTime?" PropertyName="DeadlineWar" FieldName="_deadlineWar" FriendlyName="Deadline War" IncludeInOutput="true" />
		<Column Id="Address" CSType="System.String" PropertyName="Address" FieldName="_address" FriendlyName="Address" IncludeInOutput="true" />
		<Column Id="PersonWar" CSType="System.String" PropertyName="PersonWar" FieldName="_personWar" FriendlyName="Person War" IncludeInOutput="true" />
	</Table>
</NetTiersMap>
