<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="cunghoc3_AssetManager.Data" type="cunghoc3_AssetManager.Data.Bases.NetTiersServiceSection, cunghoc3_AssetManager.Data" allowDefinition="MachineToApplication" restartOnExternalChanges="true" />
    	<section name="enterpriseLibrary.ConfigurationSource" type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.ConfigurationSourceSection, Microsoft.Practices.EnterpriseLibrary.Common, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
	</configSections>
	<appSettings/>
	<connectionStrings>
		<add name="cunghoc3_AssetManager.Data.ConnectionString" connectionString="Data Source=123.30.174.116;Initial Catalog=cunghoc3_AssetManager;Persist Security Info=True;User ID=cunghoc3_AssetManager;Password=P@ssw0rd" />
	</connectionStrings>
	<cunghoc3_AssetManager.Data defaultProvider="SqlNetTiersProvider">
		<providers>
			<!--
				*** SqlClient Provider ***
					connectionStringName: sqlclient connection string to the db
					useStoredProcedure: if true, indicates that we use the stored procedures, otherwise, we use parametrized queries that are embedded.
			-->
			<add 
			  name="SqlNetTiersProvider" 
			  type="cunghoc3_AssetManager.Data.SqlClient.SqlNetTiersProvider, cunghoc3_AssetManager.Data.SqlClient"
			  connectionStringName="cunghoc3_AssetManager.Data.ConnectionString"
			  providerInvariantName="System.Data.SqlClient"
			  entityFactoryType="cunghoc3_AssetManager.Entities.EntityFactory"
			  useEntityFactory="true"
			  enableEntityTracking="true"
			  enableMethodAuthorization="false"
			  useStoredProcedure="false"
			  defaultCommandTimeout="30"
			/>
			<!-- 
				*** WebserviceClient Provider ***
				The url parameter indicates the webservices url (ex: http://localhost/cunghoc3_AssetManager/cunghoc3_AssetManagerServices.aspx)
				<add 
					name="WsNetTiersProvider" 
					type="cunghoc3_AssetManager.Data.WebServiceClient.WsNetTiersProvider, cunghoc3_AssetManager.Data.WebServiceClient"
					url="/cunghoc3_AssetManagerServices.asmx" />
			-->
		</providers>
	</cunghoc3_AssetManager.Data>
	<system.web>
		<pages theme="default">
			<controls>
				<add tagPrefix="data" namespace="cunghoc3_AssetManager.Web.Data" assembly="cunghoc3_AssetManager.Web"/>
				<add tagPrefix="data" namespace="cunghoc3_AssetManager.Web.UI" assembly="cunghoc3_AssetManager.Web"/>
			</controls>
		</pages>
		<httpModules>
			<add name="EntityTransactionModule" type="cunghoc3_AssetManager.Web.Data.EntityTransactionModule, cunghoc3_AssetManager.Web"/>
		</httpModules>
        <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
        <compilation debug="true" />
        <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        <authentication mode="Windows" />
        -->
        <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    </system.web>
	<enterpriseLibrary.ConfigurationSource selectedSource="File Configuration Source">
	  <sources>
		<add name="File Configuration Source" type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.FileConfigurationSource, Microsoft.Practices.EnterpriseLibrary.Common, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
			filePath="entlib.config" />
	  </sources>
    </enterpriseLibrary.ConfigurationSource>
</configuration>
